@import '@/styles/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-md;
  background: $bg-card;
  border-radius: $radius-xl;
  cursor: pointer;
  transition: all $transition-fast;
  // border: 1px solid $border-color;
  min-width: 100px;

  &:hover {
    // transform: translateY(-2px);
    // border-color: $border-color-hover;
    // box-shadow: $shadow-md;
  }

  &--own {
    border-color: rgba($primary-400, 0.3);
    background: #20273a;
  }

  &--active {
    border-color: rgba($red-400, 0.4);
    background: linear-gradient(180deg, rgba($red-500, 0.1) 0%, $bg-card 100%);
  }
}

.header {
  width: 100%;
  position: relative;
  margin-bottom: $spacing-sm;
}
.difficultyLevel {
  top: 0;
  right: 0;
  position: absolute;
}
.roleIcon {
  position: absolute;
  bottom: -4px;
  right: -4px;
  font-size: 12px;
  background: $bg-secondary;
  border-radius: $radius-full;
  padding: 2px;
  line-height: 1;
  border: 1px solid $border-color;
}

.body {
  display: flex;

  align-items: center;
  gap: $spacing-lg;
}

.betLabel {
  font-size: $text-xs;
  color: $text-muted;
  // text-transform: uppercase;
  font-weight: 400;
}

.betRow {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
}

.star {
  color: $yellow-400;
  font-size: $text-sm;
}

.betAmount {
  font-size: $text-lg;
  font-weight: 700;
  color: $text-primary;
}

.multiplier {
  font-size: $text-xs;
  color: $green-400;
  font-weight: 600;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.actionIcon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.swordCircle {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($red-500, 0.15);
  border: 1px solid rgba($red-400, 0.3);
  border-radius: $radius-full;
  font-size: 16px;
}

.checkCircle {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba($green-500, 0.15);
  border: 1px solid rgba($green-400, 0.3);
  border-radius: $radius-full;
  font-size: 16px;
  color: $green-400;
}
