@import '@/styles/variables.scss';

.card {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-md $spacing-lg;
  // padding-bottom: $spacing-xl;
  background: $bg-card-2;
  border-radius: $radius-lg;
  cursor: pointer;
  transition: all $transition-fast;
  // border: 1px solid $border-color;

  // &:hover {
  //   border-color: $border-color-hover;
  //   background: $bg-card-hover;
  // }

  &--win {
    border-color: rgba($green-500, 0.3);
    background: linear-gradient(135deg, $bg-card-2 0%, rgba($green-500, 0.1) 100%);
  }

  &--lose {
    border-color: rgba($red-500, 0.3);
    // background: rgba($red-500, 0.07);

    background: linear-gradient(135deg, $bg-card-2 0%, rgba($red-500, 0.1) 100%);
  }
}

.players {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.player {
  position: relative;
}

.avatarWrap {
  display: flex;
  border-radius: $radius-full;

  &--defender,
  &--attacker {
    padding: 2px;
    border: 2px solid transparent;
  }

  &--defender {
    background:
      linear-gradient($bg-card-2, $bg-card-2) padding-box,
      linear-gradient(94.98deg, #4762f2 10.08%, #3dc5f0 94.83%) border-box;
  }

  &--attacker {
    background:
      linear-gradient($bg-card-2, $bg-card-2) padding-box,
      linear-gradient(270deg, #ff2d24 0%, #ff6868 100%) border-box;
  }
}

.vs {
  margin-left: 2px;
  font-size: $text-xs;
  font-weight: 600;
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0.5;
  // margin: 0 $spacing-xs;
}

// .vs {
//   font-size: 32px;
//   font-weight: 900;
//   background: -webkit-linear-gradient(#eee, #333);
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
//   color: $text-primary;
//   opacity: 0.5;
//   padding: 0 $spacing-md;
// }

.info {
  display: flex;
  align-items: center;
  gap: $spacing-md;
}

.betRow {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2px;
}

.betLabel {
  font-size: $text-xs;
  color: $text-muted;
  color: #7987ae;
}

.betAmount {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  font-size: $text-lg;
  font-weight: 700;
  color: $text-primary;

  &--win {
    color: $green-400;
  }

  &--lose {
    color: $red-400;
  }
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $yellow-500;
  font-size: $text-md;
}

.resultIcon {
  font-size: 28px;
}

.trophy {
  background: rgba($green-500, 0.2);
  border-radius: $radius-full;
  padding: $spacing-sm;
  display: flex;
}

.defeat {
  background: rgba($red-500, 0.2);
  border-radius: $radius-full;
  padding: $spacing-sm;
  display: flex;
}

.check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: $gray-400;
  background: rgba($gray-500, 0.2);
  border-radius: $radius-full;
}

.finishedTime {
  // display: none;
  position: absolute;
  bottom: 2px;
  left: 16px;
  font-size: $text-xs;
  color: $text-muted;
}
