@import '@/styles/variables.scss';

.page {
  display: flex;
  flex-direction: column;
  gap: $spacing-2xl;
}

.header {
  text-align: center;
}

.title {
  // font-family: $font-family-heading;
  text-align: start;
  font-size: $text-xl;
  font-weight: 900;
  color: $text-primary;
  margin: 0 0 $spacing-xs;
  text-transform: uppercase;
  // letter-spacing: 0.5px;
}

.subtitle {
  font-size: $text-sm;
  color: $text-secondary;
  margin: 0;
}

.difficultySection {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
  // background: $bg-card-2;
  // padding: $spacing-xl;
  // border-radius: $radius-xl;
  // border: 1px solid $border-color;
}

.difficultyButtons {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: $spacing-sm;
}

.difficultyBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  height: 48px;
  padding: $spacing-sm;
  background: $bg-card-2;
  // border: 1px solid transparent;
  border-radius: $radius-md;
  transition: all $transition-fast;

  // &:hover {
  //   border-color: $border-color-hover;
  // }

  &.active {
    border-color: $primary-400;
    background: rgba($primary-500, 0.1);
  }

  &--easy {
    &.active {
      border-color: $green-400;
      background: rgba($green-500, 1);

      .difficultyLabel {
        // color: $green-400;
      }
    }
  }

  &--medium {
    &.active {
      border-color: $yellow-400;
      background: rgba($yellow-500, 1);

      .difficultyLabel {
        // color: $yellow-400;
      }
    }
  }

  &--hard {
    &.active {
      border-color: $red-400;
      background: rgba($red-500, 1);

      .difficultyLabel {
        // color: $red-400;
      }
    }
  }
}

.difficultyLabel {
  text-align: center;
  display: block;
  margin: 0 auto;
  font-size: $text-sm;
  font-weight: 700;
  color: $text-primary;
  text-transform: uppercase;
  letter-spacing: 0.3px;

  &--easy {
    color: $green-400;
  }

  &--medium {
    color: $yellow-400;
  }

  &--hard {
    color: $red-400;
  }
}

.difficultyDesc {
  font-size: $text-xs;
  color: $text-muted;
}

.difficultyStats {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: $spacing-sm;
  // padding: $spacing-sm;
  // padding-top: $spacing-lg;
  // border-top: 1px solid $border-color;
  // background: $bg-card-2;
  // border-radius: $radius-md;
  // border-top: 1px solid $border-color;
}

.statItem {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: $spacing-sm;
  white-space: nowrap;
  position: relative;
}

.statIcon {
  display: block;
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.statLabel {
  font-weight: 600;
  font-size: 12px;
  color: #7987ae;
}
.statValue {
  display: flex;
  align-items: center;
  gap: $spacing-xs;
  font-size: $text-sm;
  color: $text-primary;
  font-weight: 800;
}

.betSection {
  // background: $bg-card-2;
  // padding: $spacing-xl;
  border-radius: $radius-xl;
  // border: 1px solid $border-color;
}

.label {
  display: block;
  font-size: $text-xs;
  font-weight: 800;
  color: $text-secondary;
  margin-bottom: $spacing-sm;
  text-transform: uppercase;
}

.betInput {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
  background: $bg-card-2;
  padding: $spacing-md $spacing-lg;
  border-radius: $radius-md;
  margin-bottom: $spacing-md;
  // border: 1px solid $border-color;

  &:focus-within {
    border-color: $primary-500;
  }
}

.betIcon {
  font-size: $text-xl;
  width: 20px;
  height: 20px;
  & svg {
    width: 20px;
    height: 20px;
  }
  // background: $gradient-primary;
  // border-radius: $radius-full;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: $text-sm;
}

.input {
  flex: 1;
  background: transparent;
  font-size: $text-lg;
  font-weight: 600;
  color: $text-primary;

  &::placeholder {
    color: $text-muted;
  }
}

.quickBets {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: $spacing-sm;
}

.quickBet {
  padding: $spacing-sm;
  background: $bg-secondary;
  border: 1px solid transparent;
  border-radius: $radius-sm;
  font-size: $text-sm;
  font-weight: 600;
  color: $text-secondary;
  transition: all $transition-fast;

  &:active {
    background: #252d42;
    border-color: $primary-500;
    color: $text-primary;
  }
}

.boardSection {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;
}

.boardInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.bombLabel {
  font-size: $text-xl;
  font-weight: 600;
  color: $text-primary;
}
.bombCount {
  // margin-top: $spacing-lg;
  font-size: $text-2xl;
  font-weight: 600;
  color: $text-primary;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}
